[2022-04-02 20:20] shanti2530 opened #69 "Cannot find module error when trying to init library"
I installed the library in an angular project using npm, however when I init the library with my API Key I get the following error during compilation

Import in service
`import { init } from '@amplitude/analytics-browser';`

Code in service constructor
`init(API_KEY);`

Compilation error

1 import { QueueProxy, InstanceProxy } from '../typings/browser-snippet';

Can you please help?

[2022-04-02 20:51] kevinpagtakhan commented on #69
Hi @shanti2530! Thanks for submitting an issue. It looks like the typings directory isn't getting included in the build files which is causing this error. Let me take a look further and put out a fix!

cc @dnshi

[2022-04-02 21:20] #69 closed

[2022-04-02 21:30] kevinpagtakhan commented on #69
Hi @shanti2530, this should be fixed in the new version we just released. Let us know if there's anything else you see 👍

[2022-04-03 06:57] shanti2530 commented on #69
Hi @kevinpagtakhan, thanks for the quick reply. I've just updated the library and the app is now compiling successfully.

[2022-04-20 09:24] JulianRomana opened #84 "Amplitude instances"
## Summary
Hi! We were using `amplitude-js` and now we are switching to `amplitude-ts`, but it seems that the whole `instances` concept has been removed.

## Motivations

We would like to be able to register different instances and send events to them independently. [Here](https://developers.amplitude.com/docs/javascript) is the previous doc, where we were able to perform this:
[code]

Thanks!

[2022-04-20 21:56] kevinpagtakhan commented on #84
Hi @JulianRomana. Thanks for submitting an issue. This is super helpful feedback. Your observations are correct, this new SDK does not support multiple version (at least not yet). Out of curiosity, what is the goal/s you are trying to achieve that multiple instances help with? Do you have multiple projects/api keys, or configuration, or http destination? Any info here would be super useful. Thanks

[2022-04-22 14:20] JulianRomana commented on #84
Hi @kevinpagtakhan! Thanks for responding so fast!
Basically, we have a tracking library, where we want for some cases, send specific tracking events to a first amplitude project, and the others case will be to another one. This is motivated by having different tracking plan on a same web app.

Tell me if i'm not being clear, I will give you more precisions!

[2022-05-02 13:01] gesposito opened #88 "Unable to set event-level groups"
## Expected Behavior
[EventOptions](https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-types/src/base-event.ts#L10) parameter in `logEvent` allows for  a [groups](https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-types/src/base-event.ts#L7) key

## Current Behavior
`groups` (event-level groups) cannot be set with `logEvent`:
[code]

## Steps

[2022-05-07 00:32] kevinpagtakhan commented on #84
Hi @JulianRomana, support for multiple instances is not included in the first iteration of this new SDK, but we remain open to supporting multiple instances in the future. Out of curiosity, why did your team decide to maintain different tracking plans/projects for the same web app? Asking this to widen my understanding of customer use cases.

[2022-05-07 00:35] kevinpagtakhan commented on #88
@gesposito thanks for submitting an issue! Thanks for your patience as we continuously iterate on this new SDK. This is unintended behavior and we will work on addressing this issue.

[2022-05-09 18:18] #88 closed

[2022-05-13 07:27] pqdong opened #98 "How to set min_id_length?"
## Summary
Hi! We are switching to amplitude-ts to replace amplitude-js. But when we use `setUserId` there is an error that is `invalid id length for user_id or device_id` (my app user_id length is less than 5). I have searched and this error can be solved by setting min_id_length.

How can I set `min_id_length` option because when I read the docs https://developers.amplitude.com/docs/typescript-b

[2022-05-13 16:27] kevinpagtakhan commented on #98
@pqdong, thanks for submitting an issue! Unfortunately this options is not yet available, but I will personally work on this one to get this issue resolved.

[2022-05-16 12:12] gesposito opened #102 "Unable to set proxy endpoint"
## Expected Behavior
A network request is fired to the custom [apiEndpoint](https://github.com/amplitude/Amplitude-JavaScript/blob/main/src/options.js#L9) url specified with `amplitude.init` config instead of default `https://api2.amplitude.com/2/httpapi`

## Current Behavior
Client fires networks requests to `https://api2.amplitude.com/2/httpapi` regardless of `apiEndpoint` value

[code]

## Step

[2022-05-16 20:08] kevinpagtakhan commented on #102
Hey @gesposito, thanks for the feedback. The `apiEndpoint` configuration applies to the [old JS SDK](https://github.com/amplitude/Amplitude-JavaScript). For this new SDK, the configuration is `serverUrl`. Reference here: https://amplitude.github.io/Amplitude-TypeScript/interfaces/Types.BrowserConfig.html#serverUrl

[2022-05-16 20:08] #102 closed

[2022-05-17 09:35] gesposito commented on #102
Thanks for the pointer! I'm still unable to make this work, I'll open an updated issue

[2022-05-17 09:41] gesposito opened #103 "Unable to set proxy endpoint with `serverUrl`"
## Expected Behavior
A network request is fired to the custom [serverUrl](https://github.com/amplitude/Amplitude-JavaScript/blob/main/src/options.js#L9) url specified with `amplitude.init` config instead of default `https://api2.amplitude.com/2/httpapi`

## Current Behavior
Client fires networks requests to `https://api2.amplitude.com/2/httpapi` regardless of `serverUrl` value

<img width="949" al

[2022-05-17 16:02] kevinpagtakhan commented on #103
@gesposito thanks for submitting this issue. I can confirm this is a bug on our end and we’ll get it fixed soon.

[2022-05-17 16:52] #103 closed

[2022-05-17 19:39] kevinpagtakhan commented on #103
@gesposito We've release [v0.4.1](https://www.npmjs.com/package/@amplitude/analytics-browser/v/0.4.1) which contains the fix to this issue. We love hearing feedback from our users on how to make the SDKs better so feel free to drop by again whenever you notice anything else.

[2022-05-18 11:01] gesposito opened #105 "Question: `serverUrl` behaviour"
## Summary

For proxied request I was previously using this setup

[code]

while now it looks like I need to do something like this

[code]

is this the new intended behaviour? Is this going to change in the future?

[2022-05-19 17:04] kevinpagtakhan opened #107 "test"
## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce

1.
2.
3.
4.

## Environment
- JS SDK Version:
- Installation Method:
- Browser and Version:

[2022-05-19 18:29] #107 closed

[2022-05-19 18:30] kevinpagtakhan commented on #105
@gesposito are you referring to adding the protocol at the start? I believe we do not enforce having a path value of `2/httpapi` for the url.

[2022-05-20 06:41] JulianRomana commented on #84
Hi again! We want to be able to maintain a legacy tracking plan, so we have a long-term overview of the company's performance + the data and product team we still be able to use the data while in the mean time want to be able to plug new tracking plans thanks to every data we collected and what we improved!

I hope this helps!

Also would you have an ETA for  such a feature?

[2022-05-20 15:47] kevinpagtakhan commented on #105
Oh i see what you mean here. So you are proxying the requests through `www.custom.url`, right? So for the old ([amplitude-js](https://github.com/amplitude/Amplitude-JavaScript)) where `apiEndpoint` is used, the endpoint has a path of `/` hence configuring the sdk does only requires the domain. While this new SDK, consumes an entirely new endpoint that has a path of `/2/httpapi`, which proxied requ

[2022-05-20 15:48] gesposito commented on #105
Correct

Thanks!

[2022-05-25 16:28] baptistejamin opened #110 "setUserProperties is not exported"
Hello!

We are currently migrating to this project.

I just noticed that `setUserProperties` is not exported here: https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-browser/src/index.ts#L17

Is there any reason to export `setUserId` but not `setUserProperties` ?

[2022-05-26 06:28] qingzhuozhen commented on #110
Hi @baptistejamin Thanks for the feedback. To set user properties, you can actually use the identify method, set the user properties via Identify method. Some example in https://developers.amplitude.com/docs/typescript-browser-beta#user-properties. That's why we didn't add the setUserProperties call earlier. Would you prefer a call like setUserProperties more or if the current solution is also goo

[2022-05-26 08:05] baptistejamin commented on #110
It's kinda weird to provide all the previous methods such as `logEvent` or `setUserId` but not this one :)

[2022-06-05 20:33] sutarmin opened #113 "Q: onNewSessionStart event"
Hey Amplitude team, thanks for your effort in creating Typescript SDK.

**Question**: is there a way to use [onNewSessionStart](https://amplitude.github.io/Amplitude-JavaScript/#amplitudeclientonnewsessionstart) event/callback using amplitude-ts or should we consider using amplitude-js yet for this functionality?

[2022-06-08 14:22] joelbourbon opened #114 "How can this be used with Code Generation with the Ampli CLI"
Hey guys,

It is pretty unclear if this version of the library can be integrated with the generated code.
I have tried it and never found how to make it work.

Not quite sure I understand the need for this lib, since the ampli generated code is fully typed.

The documentation pushes for this new library, but the implementation guide push towards the amplitude-js lib.

Thanks :)

[2022-06-08 17:46] justin-fiedler commented on #114
Hi @joelbourbon thanks for the feedback and sorry for the confusion.

Currently the generated Ampli SDK is built to work with the Amplitude-JavaScript and Amplitude-Node libraries. We will be releasing a new version of the code generation to work with the new Amplitude-TypeScript library in the near future (next month).

To see the correct Amplitude SDK to use with Ampli you can:

1. Run `ampli se

[2022-06-08 19:57] joelbourbon commented on #114
Hey! Thanks for the quick comeback on this @justin-fiedler!

Everything is working fine with the Amplitude-JavaScript version of things.

I'm eager to see the release next month!
Thanks,

[2022-06-08 19:57] #114 closed

[2022-06-08 20:17] justin-fiedler commented on #113
Hi @sutarmin glad you are liking the new TypeScript SDK.

Unfortunately we don't have session callbacks in the new SDK at this time. I have created a ticket for our team to look into adding support. Hopefully we can add that functionality soon.

[2022-06-08 20:17] #113 closed

[2022-06-14 12:32] rafaelquintanilha opened #115 "How to logout user?"
Hi there!

The JavaScript API [has a dedicated session to logout and anonymous users](https://developers.amplitude.com/docs/javascript#log-out-and-anonymous-users) where you can `setUserId(null)` when logging out users.

However, this is not present in the new TypeScript docs. [According to the SDK](https://amplitude.github.io/Amplitude-TypeScript/modules.html#setUserId), `setUserId` must receive

[2022-06-14 16:21] kevinpagtakhan commented on #115
Hi @rafaelquintanilha, thanks for submitting this issue! Good callout. The `userId` is marked is assumed optional in the rest of the code base except as parameter in `setUserId()`. We'll get this updated.

[2022-06-14 17:33] #115 closed

[2022-06-21 08:08] wangbaiwang opened #120 "Cannot find name 'Awaited'."
## Expected Behavior
Should not be prompted `Cannot find name 'Awaited'.`

## Current Behavior
![image](https://user-images.githubusercontent.com/46243630/174748057-10da3523-2422-43f2-9860-d526a6cb8608.png)

## Possible Solution
I think that should be Typescript version is too old.

Compatible with 4.5 before Typescript version, please

## Steps to Reproduce
Installed

## Environment
- JS SDK Vers

[2022-06-21 16:25] kevinpagtakhan commented on #120
Hi @wangbaiwang, thanks for submitting this issue! We'll look into how to support older version of TS!

[2022-06-29 01:21] davidbergso opened #128 "How to set a proxy"
## Summary

The "apiEndpoint" option does not appear to be working for setting a proxy. Is there a new way to do this with the typescript SDK?

[2022-06-29 12:18] krasnoperov opened #129 "Possible race-condition with identify() and logEvent()"
## Summary

We need to set user's segment with `identify()` and then immediately send entrance event with `logEvent()`. Sometimes at analytics.amplitude.com we see events without any segment at all. Looks like server-side handled identify and logEvent in inverse order, so event has no user properties associated with it.

How it can be avoided?

Is it possible to combine calls to identify() and log

[2022-06-29 16:40] #120 closed

[2022-06-29 21:57] kevinpagtakhan commented on #129
Hi @krasnoperov thanks for submitting this question.

Yes, you can combine them in the same event payload to guarantee that they are processed together. You can do this by:

[code]

The identify class acts as a helper to build the `user_properties` field and `track()` or `logEvent()` accepts an event payload as argument (in addition to string for `event_type`).

An alternate solution is to use `aw

[2022-06-29 22:04] dnshi commented on #128
Hi @davidbergso  thanks for submitting this question.

To set a proxy, you can set the option `serverUrl` when you initialize amplitude.

[code]

[2022-06-30 17:12] #128 closed

[2022-06-30 17:13] #110 closed

[2022-07-04 08:21] krasnoperov commented on #129
Thank you for your help! Both solutions are good for our case!

[2022-07-04 08:21] #129 closed

[2022-07-04 16:53] yejunlee-29cm opened #132 "Option for tracking events before initializing"
## Summary

Is there any option for tracking events before init?
I am using `next.js` and I'm not 100% sure that the initializing is finished before rendering the app.

[2022-07-05 16:41] kevinpagtakhan commented on #132
@yejunlee-29cm thanks for reaching out! currently, init has to complete before any tracking can begin. How are you using amplitude in Next.js? It would be great if you are able to share a simplified code snippet. Not sure if this helps your specific case but `init()` can be awaited like

[code]

[2022-07-05 16:54] yejunlee-29cm commented on #132
@kevinpagtakhan  You can see it [here](https://codesandbox.io/s/old-morning-k51ko6?file=/pages/index.js)!

If the app renders before initializing, some events cannot be tracked.

[2022-07-08 10:06] FQ400 opened #134 "Typescript SDK and the web attribution"
## Summary

We try to switch to the Typescript-SDK for the browser from the JS-SDK and we wonder how to configure new client for the web attribution?

With the JS-SDK we used something like this:
[code]
Here are the docs from the JS version: https://www.docs.developers.amplitude.com/data/sdks/javascript/#web-attribution

I checked [the code](https://github.com/amplitude/Amplitude-TypeScript/blob/m

[2022-07-08 11:17] FQ400 opened #135 "Typescript SDK and setVersionName"
## Summary

With the JS-SDK we where able to do something like the following to identify the Web-App version:

[code]

What is the equivalent in the Typescript-SDK?

[2022-07-11 21:29] kevinpagtakhan commented on #135
Hi @FQ400! Thanks for submitting a question! Is the release version known at time of `init()` call?

With this SDK consuming a [new amplitude analytics HTTP API](https://www.docs.developers.amplitude.com/analytics/apis/http-v2-api/), this is now referred to as `app_version` in the request [payload](https://www.docs.developers.amplitude.com/analytics/apis/http-v2-api/#keys-for-the-event-argument).

[2022-07-12 08:15] Kyusung4698 opened #136 "Calling Identify.set with a null value throws an unhandled exception"
## Expected Behavior

[code]

## Current Behavior

Error: Cannot convert undefined or null to object

because: ```typeof null === 'object'```

## Possible Solution

adding || {} to make sure Object.keys doesn't throw
[code]

## Steps to Reproduce

[code]

## Environment
- JS SDK Version: amplitude-ts/1.0.0
- Installation Method: yarn
- Browser and Version: 87.0.4280

[2022-07-12 09:55] FQ400 commented on #135
Thank you that worked

[2022-07-12 09:55] #135 closed

[2022-07-12 17:35] kevinpagtakhan commented on #136
Hi @Kyusung4698! Thanks for submitting a GitHub issue! Before I jump into solutioning, I wanted to ask what the motivation of setting an identify key here to `null`? Amplitude offers unsetting an identify key like

[code]

unless you have a use case for a `null` identify key.

[2022-07-12 17:44] Kyusung4698 commented on #136
I was integrating amplitude in an existing code base and some fields were based on user settings. So, after pushing to prod I noticed not all users were picked up correctly. The motivation is simply not having an analytics framework throw an error after receiving bad input.

[2022-07-12 18:51] kevinpagtakhan commented on #136
@Kyusung4698, I see. We can add a check here to prevent this from throwing an error.

[2022-07-13 10:21] maylorsan opened #137 "Mistake in the types of parameters of the function `amplitude.getInstance().init()`"
When initializing the amplitude, I want to set the sessionId to the function parameter:

[code]

But get the following error: `TS2322: Type 'number' is not assignable to type 'string | null | undefined'.`

Ok... Let's try converting `Date.now()` to string

[code]

But in the console I have this:

<img width="620" alt="Screen Shot 2022-07-13 at 13 15 41" src="https://user-images.githubusercontent.c

[2022-07-13 16:03] justin-fiedler commented on #137
Hi @maylorsan I believe this is an issue with the spelling of `sessionId`. The parameter uses a lower case `d` instead of `D`. Hopefully the following will get things working.

[code]

[2022-07-13 17:01] maylorsan commented on #137
Hi @justin-fiedler

Sorry, I made a mistake in the description of the problem.(Already updated the this)

Attach the screenshot of my code, and error:

<img width="677" alt="Screen Shot 2022-07-13 at 20 00 29" src="https://user-images.githubusercontent.com/51034456/178789982-aa4abe61-0812-47dc-aaf2-0ebe7c45ad1a.png">

[2022-07-13 17:12] kevinpagtakhan commented on #137
@justin-fiedler it appears this issue is for [amplitude-js ](https://github.com/amplitude/Amplitude-JavaScript) so i think the types are coming from definitely typed which has it as `string | null | undefined`

[2022-07-13 17:16] justin-fiedler commented on #137
@maylorsan please see Kevin's response above. Although not required we recommend you update to the latest TypeScript SDK for the latest features and bug fixes.

https://www.docs.developers.amplitude.com/data/sdks/typescript-browser/

[2022-07-13 17:40] kevinpagtakhan commented on #134
Hi @FQ400, thanks for submitting an issue! Since v0.6.1, this SDK tracks web attribution by default. We will soon publish the docs regarding this and will add the link here. Here are the optional keys in attribution options: https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-types/src/config.ts#L80-L86. Quick info on them:
|Option|Description|
|-|-|
`attribution.disable

[2022-07-13 18:02] #136 closed

[2022-07-13 22:28] #137 closed

[2022-07-14 17:02] #134 closed

[2022-07-15 00:11] kevinpagtakhan commented on #134
@FQ400 here are out docs for web attribution for `@amplitude/analytics-browser` package: https://www.docs.developers.amplitude.com/data/sdks/typescript-browser/#web-attribution

[2022-07-15 06:45] Trixmegist opened #140 "Does Amplitude Event Explorer extension work with the new SDK?"
I've transitioned from the old JS SDK to the new and the Event Explorer doesn't show any events

Am I doing something wrong or the extension doesn't support the new SDK?

SDK version: @amplitude/analytics-browser:1.0.1  npm package

[2022-07-15 15:12] FQ400 commented on #134
@kevinpagtakhan Thank you for the response. We can work with that. 😄

[2022-07-19 00:12] qingzhuozhen commented on #140
Hi @Trixmegist This is a known issue. We will work on upgrading the Event Explorer.
cc @kevinpagtakhan @justin-fiedler

[2022-07-20 22:34] liuyang1520 commented on #132
@yejunlee-29cm , thanks for providing the example! The issue should be fixed with https://github.com/amplitude/Amplitude-TypeScript/pull/144. We will publish a newer version soon, feel free to try it out then.

[2022-07-27 07:47] thiennhan2310 commented on #140
I have same issue. Waiting for your upgrading

[2022-07-29 15:09] kykungz opened #158 "regenerateDeviceId is not importable"
## Expected Behavior

`regenerateDeviceId` should be importable, as it needs to be called on user sign-out event

## Current Behavior

`regenerateDeviceId` is not importable, it is declared in [AmplitudeBrowser](https://github.com/amplitude/Amplitude-TypeScript/blob/d335f6231d6a0bd487824f0ba1dbb92b50793c94/packages/analytics-browser/src/browser-client.ts#L20) class

https://github.com/amplitude/Am

[2022-07-29 16:09] yuhao900914 commented on #158
Hi @kykungz,
We are improving the experience of regenerating the deviceId.  We will have another method called `reset`, which will reset the userId and deviceId. It's in progress, and will come soon.
We will let you know when that comes out.
Thanks.

[2022-07-29 16:11] kykungz commented on #158
@yuhao900914 Thanks, do you have any other solution that I can use when `reset` is not yet available? Or should I revert back to amplitude-js instead.

[2022-07-29 18:09] kykungz commented on #158
@yuhao900914 @liuyang1520 Just saw that https://github.com/amplitude/Amplitude-TypeScript/pull/157 was just merged and released an hour ago, that's fast! Thanks a lot!

[2022-07-29 18:09] #158 closed

[2022-08-01 09:26] Medsestrun opened #161 "reset method in incognito mode"
## Summary
In incognito mode, in react app, on the very top level I'm calling reset method. Outside of incognito mode everything works perfect, but not into incognito.

P.S. "@amplitude/analytics-browser": "^1.1.1"

<img width="802" alt="Screenshot 2022-08-01 at 11 25 27" src="https://user-images.githubusercontent.com/2310076/182117777-e73a2e38-2497-4e9d-ad42-73bda6ac3700.png">

[2022-08-01 18:37] kevinpagtakhan opened #163 "test"
test

[2022-08-01 18:37] #163 closed

[2022-08-01 18:39] kevinpagtakhan opened #164 "test"
test

[2022-08-01 18:51] #164 closed

[2022-08-01 18:52] kevinpagtakhan opened #166 "test"
test

[2022-08-01 18:57] #166 closed

[2022-08-02 12:38] #161 closed

[2022-08-02 15:42] agatalisowskaCC opened #167 "TypeScript SDK causes errors when user browses in Incognito mode"
Code examples:
[code]
[code]

## Expected Behavior
I'm aware that Amplitude & other analytics tools can be blocked in the browser's Incognito mode and by script blocking tools. However, I would expect Amplitude to not track the user in this case, not to throw errors and crash my application.

## Current Behavior
In browser incognito mode, Amplitude is probably blocked. `init` method seems to work

[2022-08-03 09:09] mperezcorrales opened #169 "Validating amplitude has being initialized"
Hello,

I am running amplitude where in some environments we are gonna record tracking and initialize amplitude while on others we are not. Is there a way to validate that amplitude has being initialized without using a try/catch?
So something like this:
`if (amplitude.isInitialized())...`

[2022-08-03 17:39] yuhao900914 commented on #169
Hi @mperezcorrales
Does dose callback work for you in this case? `amplitude.init` is able to return a promise
[code]

[2022-08-03 22:44] tslater opened #170 "EAS Config Plugin for Axpo"
## Summary
Previously amplitude was a part of Expo Go. Now the standard Expo practice is Config Plugins. As far as I can tell from the docs/code, there is no plugin available.

Here is a link to their guide on config plugins: https://docs.expo.dev/guides/config-plugins/

## Motivations
I want to be able to use EAS build and Amplitude. With the latest release of Expo, we have no way to use Amplitud

[2022-08-04 02:14] dungtran5 commented on #140
Me too, waiting for billions product team to update official SDK for working with official extension 😕

[2022-08-04 15:43] RubenMateus opened #171 "TypeError: undefined is not an object (evaluating 'this.config.userId = userId')"
## Summary

So I have this issue that all of a sudden started happening:

`TypeError: undefined is not an object (evaluating 'this.config.userId = userId')`

I can confirm the userId is being sent correctly and I am calling the init before.
Any ideas of what is happening?

[2022-08-04 17:45] yuhao900914 commented on #171
Hi @RubenMateus,
Thanks for using the amplitude typescript SDK.
Can you share with me the code snippet in order to reproduce this issue?

[2022-08-04 22:05] BrodaNoel opened #173 "Add documentation about what to do when user logs out"
## Summary
It's not clear in the documentation what we have to do when the user "log out".
Should we call `setUserId(null)`? What about the user properties?

I was thinking about doing something like this, but I'm not sure if it will work:

[code]

[2022-08-04 22:11] kevinpagtakhan commented on #173
Hi @BrodaNoel, thanks for choosing Amplitude!

We offer `reset()` api which creates a new user identity. This is commonly used after user log out as you needed. This basically sets the user ID to `undefined` and assigns a new device ID. The succeeding events after a `reset()` call would no longer share identity with the prior events; therefore, there is no need to remove or unset through identify

[2022-08-05 09:03] RubenMateus commented on #171
Hi @yuhao900914

this is the code.
[code]
And i am also doing Init even before this hooks is called.

[2022-08-08 16:34] justin-fiedler commented on #140
Hi all, we released `0.3.5` of the Amplitude Event Explorer extension with full support for the new browser SDKs, HttpV2, batch, and EU APIs.

Updating to the latest version should resolve the issue. Thanks!

[2022-08-08 21:25] BrodaNoel commented on #173
Fixed on last PR

[2022-08-08 21:25] #173 closed

[2022-08-08 21:28] BrodaNoel opened #176 "[docs] Missing docs for `trackingOptions`"
## Expected Behavior
There is no documentation about how to disable some trackings.

For example, in the previous library I was using for Amplitude, I had this function:
[code]

Is there a way to disable these options in this library?

## Current Behavior
No docs about it

## Possible Solution
Adding doc (or the feature if missing)

[2022-08-08 21:53] liuyang1520 commented on #167
@kevinpagtakhan , are you working on this issue? If not, I will take a look. Thanks!

[2022-08-08 22:09] liuyang1520 commented on #176
Hi, @BrodaNoel , I cannot find any related information about `setTrackingOptionsAsync` method in current SDKs, do you mind sharing the `previous library` version/repo? And the runtime/version you are using for this library?

This library allows custom setup of tracking options, see: https://www.docs.developers.amplitude.com/data/sdks/typescript-browser/#opt-users-out-of-tracking.

[2022-08-08 22:11] BrodaNoel commented on #176
My bad.
I migrated from `https://www.npmjs.com/package/expo-analytics-amplitude` to this component (because Expo SDK 46 doesn't support `expo-analytics-amplitude` anymore.
That library has the `setTrackingOptions` method, which was properly working, so, clearly it's supported by Amplitude

[2022-08-08 22:13] BrodaNoel commented on #176
In [the link you sent](https://www.docs.developers.amplitude.com/data/sdks/typescript-browser/#optional-tracking), I don't see a way to disable the ADID tracking (the old `disableAdid`)

[2022-08-08 23:03] liuyang1520 commented on #176
I see, thanks for the explanation! Just confirmed that our React-Native SDK (in this repo) doesn't support ADID tracking yet. We will add the ADID tracking in this React-Native SDK.

[2022-08-09 18:16] BrodaNoel opened #177 "Different `platform` values"
After migrating from `expo-analytics-amplitude` (which uses Amplitude-ReactNative) to this library, I'm seeing different values in the Platform:
<img width="877" alt="Screen Shot 2022-08-09 at 15 15 59" src="https://user-images.githubusercontent.com/1837969/183730580-8aff0ff9-f3a2-4552-9f9a-faf11c5a1370.png">

As you can see, there is an `Android` and an `android`, which breaks all the charts.

Yo

[2022-08-09 20:49] BrodaNoel opened #178 "[bug] Duplicated users (non-merged) after calling `init` multiples times"
## Expected Behavior
Amplitude should not duplicate users.
I think it's related to the "device id" that is different in some situations that it may not be different.

My app, in some scenarios, for anonymous users (without userId defined), may run 3 events on the startup, even before the `init` function was called.

It works something like this:

[code]

The problem there is that the `analytics.tr

[2022-08-09 20:52] BrodaNoel commented on #178
The workaround for this issue will be to only call `init` 1 time.
I'm implementing this... But... I want to repeat that this issue was not present in the old library.

[2022-08-10 03:25] liuyang1520 commented on #177
Hi, @BrodaNoel , thanks for reporting!

I took a look at our libs, and found that we are consistent about the OS name attribute, see list:
- This new RN lib: https://github.com/amplitude/Amplitude-TypeScript/blob/7d11fdbee2ece65b64cec873d2f2ab74ed5fecf3/packages/analytics-react-native/android/src/main/java/com/amplitude/reactnative/AndroidContextProvider.kt#L404
- The new Android Kotlin SDK: https

[2022-08-10 03:31] liuyang1520 commented on #170
Hi, @tslater, I just recently learned `expo-analytics-amplitude`. That repo/release is not maintained by Amplitude. Is it possible to switch to our new React-Native SDK: https://github.com/amplitude/Amplitude-TypeScript/tree/main/packages/analytics-react-native?

[2022-08-10 03:39] tslater commented on #170
Yeah it worked fine with EAS build and a custom client.

[2022-08-10 03:39] #170 closed

[2022-08-10 03:44] BrodaNoel commented on #177
That's weird... They say they wrap here https://github.com/expo/expo/tree/sdk-45/packages/expo-analytics-amplitude#expo-analytics-amplitude

<img width="1225" alt="Screen Shot 2022-08-10 at 00 38 45" src="https://user-images.githubusercontent.com/1837969/183807843-d2081981-bac0-4940-b3ba-792c33a5755a.png">

Here some raw data:

For `android`:
[code]

For `Android`:
[code]

[2022-08-10 03:49] BrodaNoel commented on #177
This is my whole REAL code that I use to track everything with this library:

As you can see, I don't change anything related to the Platform value

[code]

[2022-08-10 04:01] liuyang1520 commented on #177
Thanks for sharing! I see. So the diff is actually for the `platform` field, not the `os_name` field. To unblock you, could you try to group by `OS` property? I will take a look at why the `platform` is different here.

[2022-08-10 04:08] BrodaNoel commented on #177
Grouped by OS will get a bit crazy:

<img width="1170" alt="Screen Shot 2022-08-10 at 01 07 39" src="https://user-images.githubusercontent.com/1837969/183811850-5fd315da-fb74-4790-bf18-03fa0b33db76.png">

If you need some real project to test (in case you have access to internal data), my project is `nofilter` (https://getnofilter.com , but the tracking if for the app, no the web)

[2022-08-10 05:51] BrodaNoel commented on #177
@liuyang1520 Important: https://github.com/amplitude/Amplitude-Android/blob/e0c9cc90d1f1f49c62ed6b35ae09936f5eb53d72/src/main/java/com/amplitude/api/Constants.java#L11

[2022-08-10 16:57] liuyang1520 commented on #177
@BrodaNoel , yeah, for `platform` property (not `os_name`), we have this inconsistency between the SDK and React-Native. Will find a solution for this.

[2022-08-10 18:11] BrodaNoel opened #179 "[bug] `Version` and `location_lat` and `location_lng` not being tracked"
After migrating to this new library, I'm seeing events without `Version`, which was automatically tracked before (`expo-analytics-amplitude` who was a wrapper of `Amplitude-Android` and `Amplitude-iOS`).

(I'm also seeing `null` the `location_lat` and `location_lng`, which was automatically tracked before as well)

As you can see, there is a `None` now:

<img width="1161" alt="Screen Shot 2022-08-

[2022-08-10 20:51] korokd commented on #171
Exact same issue here, semi identical hook even.

[code]

[2022-08-10 20:56] kevinpagtakhan commented on #171
Thanks all! This is caused by `init()` taking too long after we introduced async storage interface. We are actively working on a fix for this issue.

[2022-08-10 21:47] liuyang1520 commented on #179
@BrodaNoel , thanks for reporting this! I will take a look at this.

[2022-08-11 15:09] BeepYoung opened #180 "[bug] saveEvents option missing for amplitude init function"
According to https://github.com/amplitude/Amplitude-TypeScript/commit/6fde736ca8a865462522082a8085673756dbcc7d **saveEvents** option is missing so there is no way to save events if user loses internet connection.
As well **saveEvents** option not works in previous versions of sdk

## Expected Behavior
**saveEvents** option back and work properly

## Current Behavior
missing **saveEvent** option an

[2022-08-11 15:18] BrodaNoel commented on #179
`Carrier` (Amplitude native value) not being tracked either

[2022-08-11 18:09] #132 closed

[2022-08-11 19:10] liuyang1520 commented on #180
Thanks @kevinpagtakhan!

If you want to opt out of saving events offline, can pass `config.storageProvider` to `undefined`.

[2022-08-12 14:24] BeepYoung commented on #180
@liuyang1520, I want to track all unsent events. I got that SDK should save events by default
I did disable internet in chrome dev tools and track few events
<img width="557" alt="image" src="https://user-images.githubusercontent.com/14242296/184372370-eae4be1b-4b0f-484f-b663-5998424c88b5.png">
Then I got this in localStorage: **AMP_unsent_<first10ApiKeyCharacters>: "[]"**
Should this events appea

[2022-08-12 21:50] #167 closed

[2022-08-12 21:50] #169 closed

[2022-08-12 21:50] #171 closed

[2022-08-13 00:51] kevinpagtakhan commented on #178
Hi @BrodaNoel, thanks for choosing Amplitude. My best guess is that all the init calls race up to find and create their own device IDs hence seeing different device IDs. `init` sets up the SDK and performs read/writes to storage APIs to persist user session which include multiple async operations. Due to this, this SDK supports deferred initialization wherein you can send `track()` calls before or

[2022-08-13 01:58] BrodaNoel commented on #178
@kevinpagtakhan thanks for the answer.

I already fixed the issue in my end. Now I just run `init` on the startup, and I guess it should be all.

I reported this mainly because I am 100% sure this "bug" was not there in the old library. It was clearly creating the same DeviceId even if you call the `init` 10 times in a row, in parallel (and maybe you want to keep it in the same way, in order to cr

[2022-08-13 02:21] liuyang1520 commented on #178
Hi, @BrodaNoel , thanks for reporting this! This lib is totally new and still in beta, so there might be some bugs. Also the behaviors might be different from the Expo one. We are working on the fix right now, thank you for supporting us and reporting these issues!

@kevinpagtakhan , thanks for the information!
As @kevinpagtakhan mentioned, now we support calling `track` before `init`, the events

[2022-08-13 02:21] #178 closed

[2022-08-13 03:37] liuyang1520 commented on #177
@BrodaNoel , please try @amplitude/analytics-react-native v0.2.3.

[2022-08-13 03:39] liuyang1520 commented on #176
@BrodaNoel , please try @amplitude/analytics-react-native v0.2.3 for disabling the `adid`, I will update the doc there.

[2022-08-13 03:42] BrodaNoel commented on #177
I'll take a look soon.
I'll let you know if this gets fixed

[2022-08-13 05:34] BrodaNoel commented on #179
@kevinpagtakhan why is this consider an Enhancement and not a bug? `Version` is a native value from Amplitude. Without it, it's impossible to use the charts related to the app version (or even the whole "Releases" dashboard)

[2022-08-13 05:35] BrodaNoel commented on #177
I just made a new build and released it.
I'll wait for some users to use it, and see how it works.

[2022-08-13 12:39] ahilles107 opened #185 "undefined is not an object (evaluating 'this.config.loggerProvider')"
## Expected Behavior
Events are logged without errors.

## Current Behavior
Crashed in non-app: node_modules/@amplitude/analytics-types/lib/config.js in SpecialEventType

## Possible Solution
none

## Steps to Reproduce
import { init as amplitudeInit, track } from "@amplitude/analytics-react-native";
amplitudeInit("xxxxxxxx");

track(eventName);

## Environment
- expo 46 / react native

[code]

[2022-08-13 15:53] kevinpagtakhan commented on #185
Hi @ahilles107, thanks for choosing Amplitude! This was a known issue but has been fixed. Looking at the versions you have in your lock file, I do not expect this issue to show up anymore.

I have created an expo app here: https://github.com/kevinpagtakhan/TS-185 to try to reproduce the error you are seeing, [specifying the same amplitude dependencies in my lock file](https://github.com/kevinpagta

[2022-08-13 16:00] kevinpagtakhan commented on #180
@BeepYoung Thank you for sharing more information. It looks like this is a case we currently do not support. We save events that are in queue to be sent out. When offline, the instrumented events are sent but then immediately rejected with no retry. Because of this, the event is not saved to storage.

The events that are saved are the ones pending for first try, or pending for retry. Retry only ha

[2022-08-13 18:52] liuyang1520 commented on #185
@ahilles107 , thanks for reporting this! Based on @kevinpagtakhan 's investigation, could you try a fresh install of latest `@amplitude/analytics-react-native`, clear caches, and run expo with `--clear`? See https://docs.expo.dev/troubleshooting/clear-cache-macos-linux/.

[2022-08-14 02:56] ahilles107 commented on #185
Hey folks! You are right, sorry for the trouble. An error was caught by Sentry on a production where we have older versions of libraries installed. After deps upgrade, I can't reproduce it anymore.

[2022-08-14 02:56] #185 closed

[2022-08-14 03:01] ahilles107 commented on #179
here is my fix for missing Version property:

[code]

I'm not sure which config property fixes that, will check that on Monday.

[2022-08-14 14:24] BeepYoung commented on #180
@kevinpagtakhan thank you for explanation! I hope this functionality will be in next versions 🙂

[2022-08-14 17:40] BrodaNoel commented on #177
`Android` going up again, and `android` going down.
Seems to be fixed! Good job!

<img width="814" alt="Screen Shot 2022-08-14 at 14 40 16" src="https://user-images.githubusercontent.com/1837969/184548511-4c361c0c-e93d-439e-ae26-5df6c3d2326b.png">

[2022-08-14 17:41] #177 closed

[2022-08-16 14:52] oleksandrk-dev opened #189 "[bug] Amplitude fails to send event with error - URIError: URI malformed"
When one of the parameters in the URL is not encoded properly Amplitude fails to send an event.

## Expected Behavior
I would expect Amplitude to be able to handle malformed URI and still send the event without throwing an exception.

## Current Behavior
The client throws an error and doesn't send the event

## Steps to Reproduce
1. Make sure that URL includes param like that -> ?fb=X+%EF%BF%BD%93

[2022-08-16 17:17] BrodaNoel commented on #176
@liuyang1520 my problem is that I don't even know how to do it.

I'm currenlty initilizing the library like this:

[code]

At that time, I don't know the user id. What should I do? Something like this?:

[code]

[2022-08-16 17:23] kevinpagtakhan commented on #176
@BrodaNoel This is how you can disable `adid` tracking:

[code]

We'll formally add this to our developer docs pretty soon.

[2022-08-16 17:31] BrodaNoel commented on #176
Done! I just implemented it and releasing in few minutes.

We can keep the issue open until you fix the docs. Feel free to close it at that moment!

Thanks for the work people!

[2022-08-16 17:46] BrodaNoel commented on #179
I just realized that this bug is a bit more important as I was expecting at the beginning.
[Some days ago I saw that the `init` function was duplicating users if called more than 1 time](https://github.com/amplitude/Amplitude-TypeScript/issues/178), which I "fixed" calling the `init` on the app startup.
The problem is that as you can see in the following chart, I'm still seeing A LOT of "New User"

[2022-08-16 18:02] kevinpagtakhan commented on #179
Hi @BrodaNoel, I had tried calling `init` multiple times but was unable to repro the "duplicated user" issue but I was testing on react native web, perhaps you were testing using mobile? How it ends up for me is when init is called multiple times, it sends events with the same device id which resolves to the same user on amplitude.

Regarding app version, I'm trying to help figure out what the iss

[2022-08-16 18:05] BrodaNoel commented on #179
@kevinpagtakhan yes I am using mobile.
If you check the screenshots in my main report (https://github.com/amplitude/Amplitude-TypeScript/issues/178), the Device ID change on every new init. That may be the issue behind the duplicated users.

[2022-08-16 18:06] BrodaNoel commented on #179
BTW, thanks for the `appVersion` point. I will implement it right now and then I'll create a new issue in case the duplication still present. The app version will help me to understand what is going on there.

[2022-08-16 18:09] kevinpagtakhan commented on #179
@BrodaNoel yup I remember seeing different device IDs, which seems to be the issue. It's why I think all the `init` calls happen too fast and they all try to read from an empty storage then try to generate a new device ID on each `init` call. Ideally, the succeeding `init` should read the device ID used by the previous ones.

[2022-08-16 18:12] BrodaNoel commented on #179
@kevinpagtakhan I'm gonna be checking how that works.
I just released a new version of my app, with the `appVersion` fixed.

After some users start using it, I'll check what is going on there. Thanks!

[2022-08-16 22:01] #189 closed

[2022-08-17 09:12] nckcol opened #194 "Cookie-related options should be passed to `testStorage` in `CookieStorage.isEnabled()`"
Amplitude options `cookieSameSite` and `cookieSecure` has direct influence on cookie availability. For example Chrome do not accept third-party cookies without explicit `SameSite=None; Secure`. And therefore `new CookieStorage({ sameSite: true, secure: true, }).isEnabled()` returns `false` despite real ability to use cookies.

## Expected Behavior
When passing this cookie options amplitude should

[2022-08-17 17:51] BrodaNoel commented on #179
The workaround works properly!

[code]

[2022-08-17 18:17] BrodaNoel opened #195 "[react-native] Duplicated users"
Here I am again with new updates after https://github.com/amplitude/Amplitude-TypeScript/issues/178

It seems like even calling `init` only 1 time, it keeps duplicating the users.

Let me show you what I did these days:

Yesterday, I upgraded to the last version (`"@amplitude/analytics-react-native": "^0.2.3",`), and implemented [the fix](https://github.com/amplitude/Amplitude-TypeScript/issues/17

[2022-08-17 18:19] BrodaNoel commented on #195
I have the feeling that the error of all this stuff, is that the `init` Amplitude function is resolving the `promise` before it actually finished the whole work.

So, this may not be working well:

[code]

[2022-08-18 05:07] kevinpagtakhan commented on #195
Hi @BrodaNoel, Amplitude SDK should generate a new device ID on `init()` call. We've recently added a feature that allows `track()` to be called before or during `init()` as if it had awaited `init()` or "deferred init". Are you open to calling `init()` at the top level of your root component file? For example:

[code]

With "deferred init" feature, you should not need to await on init, therefore

[2022-08-18 05:13] kevinpagtakhan commented on #194
Hi @nckcol, thank you for using Amplitude. Before I jump into solutioning, I'd love to hear more info. From a business standpoint, what use case is this preventing you to do? And with the proposed fix, what is the use case it allows you to fulfill? Thanks so much!

[2022-08-18 06:08] #84 closed

[2022-08-18 08:43] nckcol commented on #194
Hello, @kevinpagtakhan!

I have website with embedded `iframe` widgets. Users can go from the widget to my website. And I track events both in this widgets and on the website. With default amplitude configuration in `iframe` widget it fails to check `CookieStorage` availability because of third-party context and fallbacks to using `LocalStorage`. But on the website it uses `CookieStorage` like it

[2022-08-18 16:15] #176 closed

[2022-08-18 16:19] kevinpagtakhan commented on #176
The docs can be found here: https://www.docs.developers.amplitude.com/data/sdks/react-native-sdk/#optional-tracking

[2022-08-22 11:48] jakubzitny opened #199 "Group identify is not working"
The group tracking (assigning a group, group properties) does not add data to the events in Amplitude.

## Expected Behavior
The following code should add data to `groups` and `group_properties` field of tracked events, but it does not do that.

[code]

## Current Behavior

Since this new library is finally something for JS/Node that has implicitly documented group behavior, I thought it will work

[2022-08-22 15:23] stof opened #200 "@amplitude/analytics-browser triggers the loading of @types/node which affects the signature of setTimeout"
## Expected Behavior
Importing `@amplitude/analytics-browser` should not force the loading of types defined in `@types/node`

## Current Behavior

`@amplitude/analytics-browser` imports `@amplitude/analytics-types`, which references the node types:

[code]

The beginning of `node_modules/@amplitude/analytics-types/lib/response.d.ts` looks like that:

[code]

This reference to the node types is ins

[2022-08-23 23:05] bohan-amplitude commented on #194
Hi @nckcol I added a fix for this issue in the new [@amplitude/analytics-browser@1.2.1](https://github.com/amplitude/Amplitude-TypeScript/releases/tag/%40amplitude%2Fanalytics-browser%401.2.1) and [@amplitude/analytics-react-native@0.3.1](https://github.com/amplitude/Amplitude-TypeScript/releases/tag/%40amplitude%2Fanalytics-react-native%400.3.1). Please check and let me know if you have other que

[2022-08-23 23:05] #194 closed

[2022-08-25 16:54] kevinpagtakhan commented on #194
Good to hear, @nckcol. Thank you for your contribution!

[2022-08-26 21:02] bohan-amplitude commented on #179
Is this issue resolved @kevinpagtakhan @liuyang1520 @BrodaNoel

[2022-08-26 21:04] bohan-amplitude commented on #199
Hi @jakubzitny  Thank you for reporting bug. I'll look into it.

[2022-08-26 21:04] BrodaNoel commented on #179
As far as I understand, no. It should be tracking automatically the app version. And currently it only works if I explicitly set the version.

Let me know if you release a new version, so I can test it and report here the progress

[2022-08-26 21:05] BrodaNoel commented on #195
Seems like this is good to close with the deferred init.
I implanted it some days ago and now the amount of new users seems to be correct

[2022-08-26 21:06] #195 closed

[2022-08-29 16:31] bohan-amplitude commented on #199
@jakubzitny Just want to confirm, Did your org purchas account add-on? Group and Group properties are features that need to enable by account add-on.

[2022-08-30 02:57] flex-junwoo opened #204 "how to use `AdditionalBrowserOptions` ?"
## Summary

I want to use `attribution.trackNewCampaigns`. But `init` is looking at `BrowserOptions`, so I always get a type error.

[code]

![image](https://user-images.githubusercontent.com/72372724/187337947-3e498e03-10b4-41e4-8e3d-eea28bd76eab.png)

[2022-08-30 11:06] stof commented on #200
@kevinpagtakhan any idea about when this could be fixed ? It is quite annoying that importing `@amplitude/analytics-browser` breaks the type checking of unrelated code in our project.

[2022-08-30 13:39] kopax-polyconseil opened #206 "maj tslib to next major"
## Expected Behavior

We expect not to have any duplicate module after our application build

## Current Behavior

We have tslib twice, because of amplitude-js and underlying amplitude utils

[code]

## Possible Solution

Upgrade tslib in utils to ^2.0.0

Such as what as been done in https://github.com/amplitude/Amplitude-Node/issues/176

## Steps to Reproduce

1. git clone https://github.com/pass

[2022-08-30 15:51] #204 closed

[2022-08-31 04:13] kevinpagtakhan commented on #200
Hey @stof! Thanks for choosing Amplitude. I opened a PR to remove the dependency on `@types/node` in our internal types package. I'll have some folks take a look at it and we'll get it out as soon as we can.

[2022-08-31 07:58] stof commented on #200
Thanks

[2022-08-31 16:55] #200 closed

[2022-08-31 17:01] stof commented on #206
`@amplitude/utils` is not part of the new Amplitude SDK maintained in this repo. It is part of https://github.com/amplitude/Amplitude-Node

The new `@amplitude/analytics-node` SDK available in this repo does not depend on `@amplitude/utils` at all (and it uses tslib 2)

[2022-08-31 17:03] stof commented on #206
And `amplitude-js` is the _old_ Amplitude JS SDK, available at https://github.com/amplitude/Amplitude-JavaScript

But I would say that the best solution would be to migrate to the new SDK in your project (using `@amplitude/analytics-browser` for the browser SDK).

[2022-08-31 17:07] kevinpagtakhan commented on #206
I think the packages in this repo has tslib@2.x already, right?

[2022-09-01 08:23] stof commented on #206
@kevinpagtakhan yes, this new SDK already uses tslib@2.x. but the description of the issue shows usages of the old SDK instead.

[2022-09-01 13:49] kevinpagtakhan commented on #206
@stof so for us to help on this issue, we need to update `amplitude-js` dependency on `@amplitude/utils` to be the one we just released right? just making sure we're on the same page since there may be some confusion as to why this was opened on this repo

[2022-09-01 13:55] kevinpagtakhan commented on #206
Can you check if this satisfies your proposed changes? https://github.com/amplitude/Amplitude-JavaScript/pull/553 Though I noticed amplitude-js has a `yarn.lock`. Not sure if you are able to dedupe despite of

[2022-09-01 14:38] stof commented on #206
the `amplitude-js` package does not have a lock file. the development repo has one, but it is not part of the npm package.

[2022-09-01 16:19] kevinpagtakhan commented on #206
I see, so if lock files does not make it to npm then the PR should be sufficient

[2022-09-01 17:19] #206 closed

[2022-09-01 18:18] kevinpagtakhan commented on #206
This is fixed in [amplitude-js@v8.20.1](https://github.com/amplitude/Amplitude-JavaScript/releases/tag/v8.20.1)

[2022-09-06 00:41] jakubzitny commented on #199
Yes, of course @bohan-amplitude. Thanks for looking into this.

[2022-09-07 20:56] stof opened #214 "ESM build for analytics-types"
## Summary

`@amplitude/analytics-types` only ships as an CommonJS build unlike other packages that ship both CJS and ESM. It would be great to ship an ESM build.

## Motivations

Some webpack optimizations (module concatenation for instance, which is very effective at enabling smaller minified code) are enabled only for ESM code. So it would be great if `@analytics-type` could ship ESM code (due

[2022-09-15 01:44] scipilot opened #217 "Mac Catalyst support"
Hi, I wasn't sure if this was a new feature request or a bug, but the bug template seems more appropriate.

Does Amplitude React Native support running on Mac Catalyst?

## Expected Behaviour
Building a React Native app including  Amplitude-TypeScript/packages/analytics-react-native should build successfully after enable Mac Catalyst support.

## Current Behaviour
I get a build failure with missin

[2022-09-15 16:53] sod opened #218 "`setUserId(undefined)` should be allowed"
The `reset` function does `setUserId(undefined)`:
https://github.com/amplitude/Amplitude-TypeScript/blob/6294f2fd4578e5184dec5a707f3162cbe83119e6/packages/analytics-browser/src/browser-client.ts#L118-L121

The method `setUserId` allows `undefined`:
https://github.com/amplitude/Amplitude-TypeScript/blob/6294f2fd4578e5184dec5a707f3162cbe83119e6/packages/analytics-browser/src/browser-client.ts#L98

B

[2022-09-15 20:51] #218 closed

[2022-09-16 13:29] BeepYoung opened #221 "setUserId function signature mismatch"
## Expected Behavior
I except signature of setUserId includes undefined type to set anonymous user
[code]

## Current Behavior

https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-browser/src/browser-client.ts#L104 signature mismatch with exported function type
I have this stuff in @amplitude/analytics-browser/lib/esm/index.d.ts
[code]

## Possible Solution

## Steps to

[2022-09-16 18:03] kevinpagtakhan commented on #221
Thank you for choosing Amplitude! The fix to this issue was merged yesterday. We'll be kicking off a release shortly.

[2022-09-16 18:38] kevinpagtakhan commented on #221
if you're using the browser package, this is release as part of `@amplitude/analytics-browser@1.4.0`.

[2022-09-16 18:38] #221 closed

[2022-09-16 18:39] kevinpagtakhan commented on #218
if you're using the browser package, this is release as part of `@amplitude/analytics-browser@1.4.0`.

[2022-09-16 19:29] BeepYoung commented on #221
@kevinpagtakhan thank you for support!

[2022-09-17 11:29] sod commented on #218
Thank you :)

[2022-09-18 11:51] Sicofonia opened #223 "Question: Is "set" suppose to override values?"
I want to record property values for settings that can be toggled (such as enable notifications, which can only have two possible values, `true` or `false`).

Once I set the property, upon subsequent changes in values I can see the recorded value has not changed in Amplitude (for example, changing from `true` to `false`). Is this by design?

[2022-09-19 16:13] kevinpagtakhan commented on #223
Hi @Sicofonia! Thank you for using amplitude. `Identify.set` method should update on each call. The behavior described above sounds more like `Identify.setOnce`. Do you have a code sample that you can share?

[2022-09-19 17:51] Sicofonia commented on #223
Hi @kevinpagtakhan , thanks for the speedy reply.

I do. Take a look at this snippet:
`
let isInitialized = false;
const identifyObj = new Identify();

export async function setUserPropertiesAsync(key, values) {
   if (!isInitialized) {
      throw 'Amplitude is not initialized';
   }
   await identifyObj.set(key, values);
   await identify(identifyObj);
}
`

And this is an example of how this fun

[2022-09-19 21:10] yuhao900914 commented on #223
Hi @Sicofonia, the `identify.set` method is able to overwrite the property value.
But I just noticed. It somehow needs you to refresh the dashboard to get the updated value in the user properties section.
The user properties section shows the old property value, even if there has a new Event Stream comes in which we reset the property.
This is the user properties panel I mentioned:
<img width="124

[2022-09-19 21:38] yuhao900914 commented on #223
Hi @Sicofonia,
I think that is by design, please check the code [here](https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-core/src/identify.ts#L99).
If you send multiple identify.set('notification', value) in roll. We will only capture the first one.
But if the local memory got refreshed, you are able to reset the value of the property.

[2022-09-20 13:22] Sicofonia commented on #223
Hi @yuhao900914 thanks a lot for chipping in. That explains it.

So if I wanted to change the value of a property already set, what method in the library should I use? (i.e. a user who disables notifications, after he/she enabled it in my case).

[2022-09-20 16:21] Sicofonia commented on #223
Thanks so much @kevinpagtakhan , I now realized what I was doing wrong. Didn't occur I had to instantiate the object at that level. I can confirm on my end that your suggestion is helping me achieve the desired behavior.

I close the question now as it has been answered. Thanks once again :-)

[2022-09-20 16:21] #223 closed

[2022-09-21 20:26] #214 closed

[2022-09-24 05:05] renatotr opened #231 "Revenue Duplicated"
Hello,
I have implemented the beta node sdk, but I'm facing a problem while registering a new Revenue.. When I register it, and check it on the User Look-up, I see it duplicated.

The first one, in the Event Type (again, looking at the User Look-Up Table) is called [Amplitude] Revenue (with the properties correct and everything just fine)

The second one, that appears almost immediately after the

[2022-09-29 19:53] otaviojacobi commented on #128
Hello, thanks for the response on this. Just a question, is there any reason why in the typescript API it is called `serverUrl` and in the JS one it is `apiEndpoint`? It seems a bit inconsistent.

[2022-09-29 20:12] pitahorn opened #238 "`init()` function throws Unhandled Rejection TypeError when API KEY is missing"
Hi,

We encountered an issue while working with the package on a dev environment. We wanted Amplitude to track events in production only, so in development and staging environments the Amplitude API KEY would not be provided. We wrapped this logic in a `try/catch` sequence, but it throws an Unhandled Rejection TypeError nevertheless.

Function call on our code:
[code]

## Expected Behavior
The err

[2022-09-29 23:28] liuyang1520 commented on #238
Hi, @pitahorn ,

Thanks for reporting this! I think this issue can be solved with:
[code]

Another way is you can create the dev environment project in Amplitude, so when you are developing things, can verify the events in the dev environment in Amplitude. The API keys are seperated.

I think we should handle the issue in `src/cookie-name.ts:8` though, I will create a PR to fix it.

Thanks!

[2022-09-30 17:42] liuyang1520 commented on #238
Merged and released in https://www.npmjs.com/package/@amplitude/analytics-browser/v/1.5.2, thank you!

[2022-09-30 17:42] #238 closed

[2022-09-30 18:16] liuyang1520 commented on #231
Hi, @renatotr ,

Thanks for asking here!

I think this is expected behavior, here is the reason of "Revenue (Unverified)":

If you want to learn more, we have a [doc](https://help.amplitude.com/hc/en-us/articles/115003116888-Track-revenue#h_aeb19851-3c7c-46dd-b9dd-f8004059114e) mentioning how to enable the revenue verification.

Thanks!

[2022-09-30 19:40] pitahorn commented on #238
Wow, that was fast! Thanks for the quick support 🥇

[2022-10-03 03:30] #231 closed

[2022-10-06 13:09] jpreynat opened #246 "Web attributions are not set on events tracked before init"
## Expected Behavior
When using the `@amplitude/analytics-browser` module, all events sent with `track` before calling the `init` method should have the web attribution properties.

## Current Behavior
Currently, whenever calls to `track` are made previous to the initialization are sent to Amplitude when `init` is called, but the call to `$identify` assigning the web attributions to the user prope

[2022-10-06 17:36] bohan-amplitude commented on #246
Hi @jpreynat Thank you for submitting. I'll look into this issue.

[2022-10-06 17:41] kevinpagtakhan commented on #246
Hi @jpreynat thanks for choosing Amplitude. Great observations above! I agree this is an issue. We'll rethink where we invoke the queued functions: https://github.com/amplitude/Amplitude-TypeScript/blob/578cbe218de84d7fdd4930f75820beda6f85ce6d/packages/analytics-core/src/core-client.ts#L41-L45 around.

[2022-10-11 15:14] remigu commented on #246
Friendly bump: any chance you could share an ETA so we can act on it 🙏
Thank you!

[2022-10-12 01:12] justin-fiedler commented on #246
Hi @remigu we are actively looking at this and hope to have a solution soon. I will get back to you tomorrow with an update.

[2022-10-12 16:07] justin-fiedler commented on #246
I am still investigating a real fix but a simple potential fix would be to wait until after `init()` has completed before tracking events. I am guessing you may have already considered this and it may not be possible given your setup. Still thought I'd mention it incase it helps.

[code]

[2022-10-13 01:10] justin-fiedler commented on #246
We made progress on this today. Hoping to have a fix by the end of the week.

[2022-10-14 16:44] jpreynat commented on #246
Thanks for the fix and the ping @justin-fiedler, we'll give it a try asap and let you know 🙂

[2022-10-17 08:11] remigu commented on #246
HI @justin-fiedler, thank you for the update.
We tested it in staging but looks like it doesn't work.

Please find here an example:
You can see the UTM in the URL but the user properties are unset at the event level
<img width="1098" alt="Screenshot 2022-10-17 at 09 59 54" src="https://user-images.githubusercontent.com/32708670/196123230-8afbb35a-76f6-43b1-9946-0d2ce8c96bd8.png">

But set at the u

[2022-10-25 18:26] #246 closed

[2022-10-25 18:27] kevinpagtakhan commented on #246
Hi @jpreynat, we took another try here. We just merged the fix and we'll kick off a release shortly.

[2022-10-25 18:37] jpreynat commented on #246
Hi @kevinpagtakhan, thanks for the update.
We’ll give it a try once this has been released 👍

[2022-10-25 18:50] kevinpagtakhan commented on #246
We have [@amplitude/analytics-browser@1.5.6](https://www.npmjs.com/package/@amplitude/analytics-browser/v/1.5.6) now available 🎉

[2022-10-26 01:28] johnf opened #257 "TypeError: Cannot read property 'search' of undefined in React Native"
## Expected Behavior
No unexpected promises

## Current Behavior
I'm seeing the following error

[code]

## Possible Solution
In https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-client-common/src/query-params.ts#L6
[code]
Needs to be ```globalScope?.location?.search``` note the second ```?```

## Steps to Reproduce
Initialise the library in a react-native app with the

[2022-10-26 13:14] hatem-72 commented on #257
Adding to this, I noticed strange release versioning for RN plugin. Version `4.9.0` being released after version `4.10.0` 🧐
![image](https://user-images.githubusercontent.com/86654761/198035068-4190f403-4622-49d2-b3a0-5c28c61623d2.png)

[2022-10-26 16:14] kevinpagtakhan commented on #257
Hi @johnf thank you for letting us know. I opened a PR to fix the issue. On a side note, just being generally curious, I wanted to learn more about your setup. I saw you are importing both `@amplitude/analytics-react-native` and `@amplitude/analytics-browser`. Are these being used for the same project?

[2022-10-26 16:15] kevinpagtakhan commented on #257
Yeah this seems odd, not sure what happened. These github releases are created by lerna, not sure what happened here. But seems like the commit history shows the correct order.

[2022-10-26 16:19] #257 closed

[2022-10-26 20:32] johnf commented on #257
Sorry, that is a bit confusing.  `@amplitude/analytics-react-native` is in `dependencies` as it is being used in the app. `@amplitude/analytics-browser` is in devDependencies, I use it in a migration script I wrote to import my user creation times.

[2022-10-26 21:52] kevinpagtakhan commented on #257
@johnf oh cool, no worries! I was just curious and totally open to any creative things other devs do 👍 We should have a new version for you shortly with the fix to this issue.

[2022-10-27 16:00] lynnshaoyu opened #259 "how do we use webAttributionPlugin?"
Hi,

So it seems like the SDK changed without any alerts to users and our referral params are no longer being tracked.

The documentation here introduces a new "plugin" concept: https://www.docs.developers.amplitude.com/data/sdks/typescript-browser/#web-attribution-enrichment-plugin

However I am unclear on how this should actually be used in the code. In the example in the documentation linked ab

[2022-10-27 16:05] kevinpagtakhan commented on #259
Hi @lynnshaoyu, thank you for choosing Amplitude! Web attribution should still be tracked without the use of plugin. This new change is backward compatible. We are introducing more plugins now and in the future to provide more features on top of the existing Amplitude SDK; but any existing features that didn't need a plugin should still be supported. Are you no longer seeing this tracked? Could be

[2022-10-27 16:27] kevinpagtakhan commented on #259
@lynnshaoyu I also opened a pull request against our doc repo to show the code change suggestion I entered into your PR. This is helpful feedback to us. We appreciate you bringing up this topic to us.

[2022-10-27 17:49] lynnshaoyu commented on #259
Hi Kevin, thank you for the documentation change and PR change suggestion! Appreciate the rapid clarification.

I am confused about what you mean by "backwards compatible".

I read the documentation [here](https://www.docs.developers.amplitude.com/data/sdks/marketing-analytics-browser/) which says "The Marketing Analytics Browser SDK extends the Browser SDK with automatic web attribution and page

[2022-10-27 18:16] kevinpagtakhan commented on #259
This is correct. Marketing Analytics Browser SDK is designed for an easy to setup SDK for our customers who have little to no dev resources. Browser SDK remains to be our primary SDK, and is more modular.

This is also correct.

Our doc reflects the direction we are going towards. However, we understand that if we remove existing features from Browser SDK, then it will have to be a breaking change

[2022-10-31 15:47] blairmason opened #262 "Device ID changing with Proxy Implementation"
## Summary
After updating the init of the SDK with a dummy key of '00000000000000000000000000000000' and a serverUrl that corresponds to our new proxy, we noticed that the Device ID changed for every user after this change. Is this expected?

[2022-10-31 16:22] kevinpagtakhan commented on #262
Hi @blairmason! Thank you for choosing Amplitude! To clarify, did the device ID change one time at the time of the API key switch or is it changing continuously since the API key switch?

For the Browser SDK, the device ID is stored in your cookie storage keyed with a string containing your a substring of your API key. After switching to a new API key, the SDK may not find the cookie for the new A

[2022-10-31 17:35] blairmason commented on #262
Yes, the Device ID changed one time at the time of the API key switch.

[2022-10-31 17:39] kevinpagtakhan commented on #262
@blairmason Yes this is expected behavior. The storage is keyed by a string containing the API key (unique per project) to allow multiple instances of the SDK to run simultaneously.

[2022-11-01 16:48] #262 closed

[2022-11-02 10:44] krishnazden opened #264 "Initializing Amplitude"
I am using react in my project.
After installing npm package. not able to initialize project setup.

Not able to find right documentation.
How to i import amplitude object from package?

[2022-11-02 10:46] krishnazden commented on #264
Got it. ..

import * as amplitude from '@amplitude/analytics-browser';

[2022-11-02 10:46] #264 closed

[2022-11-02 15:52] BeepYoung opened #265 "wrong OS version for in-app browsers"
OS version generation based on user-agent so it works not properly

## Expected Behavior

iPhone like OS should appear

## Current Behavior

Instagram version in OS field

<img width="473" alt="image" src="https://user-images.githubusercontent.com/14242296/199536486-aa21de48-51f8-4ce3-9a68-7d463d03e37e.png">

user-agent: ```Mozilla/5.0 (iPhone; CPU iPhone OS
15_6_1 like Mac OS X) AppleWebKit/
605.

[2022-11-04 21:17] lynnshaoyu commented on #259
Hi Kevin, I see thanks for the explanation... we are not seeing both referral and utm parameters. Which we previously saw.

Essentially we want to achieve feature parity with what "includeReferrer" and "includeUtm" would do in this SDK: https://www.docs.developers.amplitude.com/data/sdks/javascript/#web-attribution

However we are not using that SDK, we are using the typescript-browser one.

The d

[2022-11-04 22:23] kevinpagtakhan commented on #259
Hi @lynnshaoyu,

The plugin should not be necessary to track referrer and UTM parameters. I believe we have [automated tests that assert this behavior](https://github.com/amplitude/Amplitude-TypeScript/blob/b8996d793f74d388c1a96e0cde5c0ac060c1e565/packages/analytics-browser-test/test/index.test.ts#L105-L223). I'd like to learn more and see how we can help you achieve the desired behavior may that

[2022-11-04 23:38] kevinpagtakhan commented on #259
Hi @lynnshaoyu,

I created this sample app to demo the attribution tracking without the attribution plugin:

Source code: https://github.com/kevinpagtakhan/ampg/blob/main/examples/attribution.html
Live: https://kevinpagtakhan.github.io/ampg/examples/attribution

On the live app, there are three sections:
1. Displays the how amplitude is initialized on the app.
2. A button to trigger an event. Each

[2022-11-07 18:35] liuyang1520 commented on #265
Hi @BeepYoung , thanks for submitting this! We are using a forked version of [ua-parser-js](https://github.com/amplitude/ua-parser-js) to handle the user agents. I have search on the original source, and didn't find [any suspicious similar issues](https://github.com/faisalman/ua-parser-js/issues?q=is%3Aissue+Instagram).

For the step 2 mentioned in description, does it mean to use Instagram embedd

[2022-11-07 20:22] BeepYoung commented on #265
Hi @liuyang1520 ! Yes, we're on the same page about step 2

[2022-11-08 13:48] mmmoussa opened #266 "Don't force use of AsyncStorage for React Native"
## Summary

In the React Native library, allow passing in a custom AsyncStorage library that is compatible with the AsyncStorage API.

## Motivations

In order to use this package in React Native we currently have to install `react-native-async-storage`. We don't currently use that library and would prefer to use `react-native-mmkv-storage` instead, which supports the same API interface as AsyncSt

[2022-11-08 14:52] blairmason opened #267 "How to set Custom HTTP Request Headers?"
How can I set custom HTTP request headers without using the Destination Type plugin? There is the ability to do so in the [Legacy Javascript SDK](https://www.docs.developers.amplitude.com/data/sdks/javascript/#configure-http-headers), but I do not see how to do so for Typescript Browser and React Native (Beta).

[2022-11-08 18:34] liuyang1520 commented on #267
Hi @blairmason , this SDK doesn't support customer headers currently, do you mind sharing your use case why the custom headers are needed? Thanks!

[2022-11-08 18:44] blairmason commented on #267
So we implemented a Proxy Server and have several use cases for custom headers, but the currently blocking use case is that we need to set an origin header for amplitude requests coming from the Amplitude SDK. Is there another way to do this?

[2022-11-08 21:28] liuyang1520 commented on #267
I see, another way (besides the destination plugin) to do this currently might be providing your own `transportProvider`, this can be set in the `config`, you can check the example: https://github.com/amplitude/Amplitude-TypeScript/blob/main/packages/analytics-client-common/src/transports/fetch.ts to implement it, then feed into the `config`. Let me know whether this works for you.

[2022-11-08 22:40] ChrisJohns-me opened #268 "Angular non-optimized CommonJS or AMD module"
After installing `@amplitude/analytics-browser` v1.6.1 onto an Angular project, running `ng serve` causes Angular to throw a warning:

[code]

On Angular's website, they warn:

This causes unoptimized and un-treeshakeable code, and causes our production code to be larger than intended (+100KB).

## Expected Behavior
`ng serve`

## Current Behavior
`ng serve` outputs a warning for CommonJS or AMD d

[2022-11-08 22:55] kevinpagtakhan commented on #268
Hi @ChrisJohns-me, thank you for choosing Amplitude. The packages in this repo are available in both CommonJS and ESM formats.

For `@amplitude/analytics-types`, it's `package.json` includes: https://github.com/amplitude/Amplitude-TypeScript/blob/f556fd2194aebce71de5b2b53c12e611d8c9b5a7/packages/analytics-types/package.json#L8-L10

My understanding is that with `module` pointing to an ESM file, bu

[2022-11-08 23:13] kevinpagtakhan commented on #265
Hi @BeepYoung, thank you for choosing Amplitude. We designed the Browser SDK to use browser name and browser version to fill in Amplitude's built-in user properties `OS name` and `OS version`. If you prefer to use the true OS name/version, you can create/use a plugin to overwrite the values we provide. We can help create this plugin if you like. Otherwise, some of our customers had requests for cu

[2022-11-09 02:21] mmmoussa commented on #266
Thanks @liuyang1520 for the guidance! I was confused by this in the README:

[2022-11-09 02:21] #266 closed

[2022-11-09 07:36] BeepYoung commented on #265
Thank!

[2022-11-09 07:36] #265 closed

[2022-11-09 16:01] hanna-becker opened #271 "Flushing events not working in @amplitude/analytics-node"
Hello there! I am using @amplitude/analytics-node in a lambda function on AWS, so instead of flushing events automatically in an interval, I would like to flush them at the end of the lambda callback. The documentation on flushing is very brief, unfortunately, and I could not get it working. Then again, I don't know if there's a misunderstanding on my side. This is what I tried:

[code]

The probl

[2022-11-09 17:22] kevinpagtakhan commented on #271
Hi @hanna-becker thank you for choosing Amplitude! I think what you'll want here is to not await on track, then await on flush, but with the `.promise` interface. So something like:

[code]

[2022-11-09 18:22] hanna-becker commented on #271
Oh, my bad, I missed converting the callback into a promise on the last call. Now it works. Thank you!
In any case, I think it may be worth mentioning in the docs in the flushing section that the track method when not awaited adds events to the queue. I really wasn't sure it would do that and thought there may be a different method to look for.

[2022-11-09 22:58] kevinpagtakhan commented on #271
That's a great suggestion! I will communicate this pain point with the rest of the team and we will add more info about tracking and flushing.

[2022-11-10 15:50] #271 closed

[2022-11-10 17:05] blairmason commented on #267
Thanks, @liuyang1520! Providing our own `transportProvider` worked like a charm.

[2022-11-11 07:08] vktrl opened #273 "Ampli fails to type enums in nested properties"
Hello, not sure if this is the best place for this, but I was referred here from the community forums and there's no Ampli repo available, so here goes.

Ampli will not handle all types of nested properties correctly when generating interfaces.

Example properties in the tracking plan:
[code]

## Expected Behavior
[code]
## Current Behavior
[code]

## Steps to Reproduce

1. Create a tracking plan

[2022-11-11 18:54] hanna-becker opened #274 "Identify not working in "@amplitude/analytics-node""
I am trying to add user properties after initializing amplitude and before sending an event in a lambda function on AWS.

Without the identify part, the event gets sent and I can see it in the Amplitude console:
[code]

Adding properties via identify like so, and the event does not make it to the console any longer:

[code]
I also see this not very helpful log statement in the lambda logs: `ERROR

[2022-11-11 22:36] liuyang1520 commented on #274
Hi @hanna-becker , thanks for supporting us!

Could you please try:
[code]

This works in my local. If this works for you too, then we will update the log and docs for this.

Thanks!

[2022-11-12 12:59] hanna-becker commented on #274
Yes, this works. Thank you!

[2022-11-13 23:02] daveslutzkin commented on #179
Any update on this? We just moved to the new SDK and the app version isn't being tracked.

[2022-11-21 16:17] stof opened #281 "@amplitude/analytics-browser triggers the loading of @types/node which affects the signature of setTimeout"
## Expected Behavior

Importing `@amplitude/analytics-browser` should not force the loading of types defined in `@types/node`

## Current Behavior

`@amplitude/analytics-browser` imports `@amplitude/analytics-core`, which references the node types:

[code]

This reference to the node types causes the loading of all of `@types/node`, which will then define the return type of `setTimeout` as being a

[2022-11-23 08:49] hatem-72 commented on #281
This also breaks integration with my typed React-Native project. Patched for now.

[2022-11-23 15:24] stof commented on #281
Marking the [`scheduled` property of the Destination plugin](https://github.com/amplitude/Amplitude-TypeScript/blob/c3b5d2ddf9439089b1eb1020e0ee87a64fb974d8/packages/analytics-core/src/plugins/destination.ts#L38) as private might fix this as private fields don't define their type in declaration files (the compiler won't care about them as accessing them is an error anyway).
AFAICT, this `scheduled

[2022-11-30 11:23] Nikitina-Ann opened #286 "[Privacy] Add a storage option"
Hello!
We need to use Amplitude without using cookies or local storage.

Now we use the **disableCookies** option, but Amplitude-TypeScript doesn't have the same option to disable localStorage.
I found an issue for Amplitude-JavaScript about this topic and the pull request https://github.com/amplitude/Amplitude-JavaScript/pull/320 to add a new option: **storage**. Will Amplitude-TypeScript have a